.fondologin {
  --overflow: show;
}

ion-slide {
  display: block;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #fc5858;
  margin-top: 20%;
  width: 411px;
  position: relative;
}

.size {
  margin-top: 3%;
  font-size: 70px;
}
