<ion-content class="fondologin" ion-color='primary'>





  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
  
  <div class = 'container2'>
    <ion-button class='button button-large' (click)='holasoyunafuncion()' fill='clear'>
      <div class='margen'>
        <h1 class='weass'>{{likes}}</h1>
        
      <ion-icon size='large' name="heart"></ion-icon>   
    </div>
    </ion-button>
    
    <img shape='rounded' class='border' src='https://media.discordapp.net/attachments/771171346625462284/787472401855676426/persona-e1533759204552.jpg'/>
    
    <ion-button class='button button-large' [routerLink]="['/tabs/tab5']" fill='clear'>
      <ion-icon name="settings-outline"></ion-icon></ion-button>
    </div>
  <div class= 'container'>
    <h1>Astolfo</h1>
    <h1>23 años</h1>
  
    <h2>Estudiante de plan común</h2>
    <h2>Estudiante de ingeniería comercial</h2>
    
  </div>

  

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [routerLink]="['/tabs/tab4']">
    
      <ion-icon name="camera"></ion-icon>

    </ion-fab-button>
  </ion-fab>


  <ion-header>
    <ion-toolbar>
      <ion-title>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Photo Gallery</ion-title>
      </ion-toolbar>
    </ion-header>
  
  
  
    <ion-fab vertical="bottom" horizontal="center" slot='fixed'>
      <ion-fab-button class='sase' (click)="photoService.addNewToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    

